.container {
  position: absolute; inset: 0; z-index: 40;
  display: flex; align-items: center; justify-content: center;
  padding: 3rem; opacity: 0; pointer-events: none;
}
.wrapper {
  max-width: 72rem; width: 100%; display: flex; flex-direction: column; align-items: center;
}
.grid {
  display: grid; grid-template-columns: repeat(1, minmax(0, 1fr)); width: 100%; gap: 2rem;
}
@media (min-width: 640px) { 
  .grid { grid-template-columns: repeat(2, minmax(0, 1fr)); };
}
@media (min-width: 1024px) { .grid { grid-template-columns: repeat(4, minmax(0, 1fr)); } }

.statBlock {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem; padding: 2rem;
  -webkit-backdrop-filter:blur(16px);
  backdrop-filter: blur(16px);
  display: flex; flex-direction: column; align-items: center; text-align: center;
  opacity: 0; transform: translateY(50px);
}

@media(width <=1024px) {
  .container {
    margin-bottom: 300px;
  }
}
@media(width <=840px) {
  .container {
    margin-bottom: 0px;
    margin-top: 200px;
  }
}
